.containerLoader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  background-color: rgb(37, 12, 148);
  border-radius: 20px;
  padding: 15px;
  background: linear-gradient(to top, rgb(170, 139, 247), rgb(54, 54, 255));
}
.loader {
  width: 48px;
  height: 48px;
  position: relative;
  margin: auto;
  border: 3px solid;
  border-color: #fff #fff transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #ff3d00 #ff3d00;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
