.cityNameInfo,
.cityExtraInfo,
.cityTempInfo {
  display: flex;
  justify-content: space-between;
  color: white;
}
.cityTempInfo {
  align-items: center;
}
.infoTemperature {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.cityExtraInfo {
  font-size: 11px;
}
