.sliderContainer {
  position: relative;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  height: 470px;
  overflow-y: auto
}

.sliderContainer::-webkit-scrollbar {
  display: none;
}
.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  overflow-y: auto;
  justify-items: center;
}